$about-section-background-color:       stencilColor("gb-about-section-background-color");
$about-section-text-color:             stencilColor("gb-about-section-text-color");
$about-section-title-color:            stencilColor("gb-about-section-title-color");
$about-section-feature-icon-color:     stencilColor("gb-about-section-feature-icon-color");
$about-section-feature-bg-color:       stencilColor("gb-about-section-feature-bg-color");
